<div class="artist-dashboard">
  <h1>Artist Dashboard</h1>
  
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete , data: { turbo_method: :delete } %>
  <!-- Artist specific content -->
</div>