<div class="welcome-page">
  <h1>Welcome to Spotify</h1>
  <div class="auth-buttons">
  <%= link_to 'Sign In', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>  
  </div>
</div>
